@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
@import "tailwindcss";

:root {
  --color-primary: #ff0084;
  --color-secondary: #ffffff;
  --color-tertiary: #f1a5b1;
  --color-quaternary: #240046;
}

@theme {
  --font-patrick-hand: "Patrick Hand", sans-serif;
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-tertiary: var(--color-tertiary);
  --color-quaternary: var(--color-quaternary);
}

::selection {
  background-color: rgb(236, 211, 255);
  color: black;
}

body {
  background: var(--color-secondary);
  color: var(--color-secondary);
  font-family: var(--font-patrick-hand);
}
