@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #dc0072;
  --color-secondary: #fffffa;
  --color-tertiary: #f1a5b1;
  --color-quaternary: #240046;
  --font-nunito: "Nunito", sans-serif;
}

::selection {
  background-color: rgb(236, 211, 255);
  color: black;
}

body {
  background: var(--color-secondary);
  color: var(--color-quaternary);
  font-family: var(--font-nunito);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem 1.75rem;
}

html {
  scroll-padding-top: 8rem;
}
